@use '../tools-sass/' as *;


/* ------------------ base.scss ---------------------- */

// Declaración de los estilos básicos del proyecto.
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

// Reset <img>
img {
    width: 100%;
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    line-height: 1;
    font-size: calc(3.1em + 1vw);
}

h2 {
    font-weight: 600;
    line-height: 120%;
    font-size: calc(2em + 1vw);
}

h1,
h2 {
    margin-bottom: .2em;
    color: $color-darker-text;
    font-family: $font-family-primary; // Todo: Optimizar!!
}

h1,
h3 {
    font-weight: 500;
}

p,
h3 {
    font-family: $font-family-tempo; // Todo: Optimizar!!
}


// Reset <p>
p {
    font-weight: 400;
    line-height: 140%;
    font-size: 1.25rem;
    color: $color-darker-text;

    @include from(large) {
        font-size: 1.125rem;
    }
}


// Reset <a>
a {
    text-decoration: none;
}


a,
i,
button {
    outline: none;
    cursor: var(--cursor-button);
}


// Reset <button>
button {
    padding: 0;
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background: transparent;
}


// Reset small
small {
    font-family: $font-family-secondary; // Todo: Optimizar!!
}


// Reset <ul>
ul {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


// Reset <label>, <input>, <textarea>
label {
    font-size: 1.0625rem;
    color: $color-darker-gray-alt;
}


input,
button,
textarea {
    &:focus {
        outline: none;
    }
}


label,
input,
textarea {
    font-family: $font-family-secondary; // Todo: Optimizar!!
}


input,
textarea {
    font-size: 1rem;
    color: $color-dark-text;
}



// Clases predefinidas

// Titulares
.headline {
    font-weight: 500;
    font-size: calc(1.2em + 1vw);
}

.headline-medium {
    font-size: calc(1.62em + 1vw);
}

.headline-big {
    font-size: calc(2.1em + 1vw);
    font-family: $font-family-secondary; // Todo: Pendiente!!
}

.headline,
.headline-big {
    margin-bottom: .6em;
}


// Font Awesome Icons
.icon {
    position: relative;

    &::before {
        font-weight: 900;
        font-style: normal;
        position: absolute;
        font-variant: normal;
        text-rendering: auto;
        display: inline-block;
        color: $color-dark-gray;
        font-family: "Font Awesome 5 Free";
        -webkit-font-smoothing: antialiased;
    }
}

