@use '../tools-sass/' as *;


/* ------------------ base.scss ---------------------- */


html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 1rem;
}

body {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    color: $gray-dark;
}

h1 {
    line-height: 100%;
    font-size: calc(3.1em + 1vw);
}

h2 {
    font-weight: 600;
    font-size: calc(2em + 1vw);
}

h1,
h2 {
    margin-bottom: .2em;
    font-family: $ff-titles;
}

h1,
h3 {
    font-weight: 500;
}

h2,
h3 {
    line-height: 120%;
}

p,
h3 {
    font-family: $ff-main;
}

img {
    width: 100%;
    display: block;
    max-width: 100%;
}

hr {
    margin: 0;
}

p {
    font-weight: 400;
    line-height: 140%;
    font-size: 1.25rem;

    @include from(large) {
        font-size: 1.125rem;
    }
}

ul {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

button {
    padding: 0;
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background: transparent;
}

a {
    text-decoration: none;
}

a,
i,
button {
    outline: none;
}

input,
button,
textarea {
    &:focus {
        outline: none;
    }
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}



// CLASES PREDEFINIDAS

// Subtítulos
.subtitle {
    font-weight: 500;
    margin-bottom: .6em;
    font-size: calc(1.2em + 1vw);
}


// Modal
.modal {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: $z-modal;
    visibility: hidden;
    background-color: rgba(0,0,0,.9);
}




// Todo: Revisar estas declaraciones.
/**********************************************/
small {
    font-family: $ff-alt;
}
label {
    font-size: 1.0625rem;
    color: $color-darker-gray-alt;
}
label,
input,
textarea {
    font-family: $ff-alt;
}
input,
textarea {
    font-size: 1rem;
    color: $color-dark-text;
}
/*********************************************/




