@use '../tools-sass/' as *;

/* ------------------ line-break.scss ---------------------- */

// Estudia en Canadá, USA...
.line-break485::before {
    display: inline;
    content: "";

    @include from(329px) {
        display: block;
    }
    @include from(698px) {
        display: inline;
    }
    @include from(914px) {
        display: block;
    }
    @include from(1260px) {
        display: inline;
    }
}