@use '../tools-sass/' as *;

/* ------------------ line-break.scss ---------------------- */
.line-break320::before,
.line-break412::before,
.line-break960::before,
.line-break1200::before {
    display: block;
    content: "";
}

.line-break391::before {
    display: block;
    content: "";

    @include from(492px) {
        display: inline;
    }
}

.line-break708::before {
    display: inline;
    content: "";
}

.line-break320::before {
    @include from(592px) {
        display: inline;
    }
}

.line-break708::before {
    @include from(740px) {
        display: block;
    }

    // Wide 960px
    @include from(xxmedium) {
        display: inline;
    }
}



