@use '../tools-sass/' as *;


// VARIABLES GLOBALES.

// Generales
:root {
    // Body font
    --font-size-body: 20px;
    // Body font-weight
    --font-weight-body: 400;
    // Logo Width
    --width-logo: 2.8rem;
    // Header height
    --height-header: 3.8rem;
}


// Padding para viewport de móvil
:root {
    --padding-text: 0 8px;

    @include from(360px) {
        --padding-text: 0 10px;
    }

    @include from(412px) {
        --padding-text: 0 12px;
    }

    @include from(740px) {
        --padding-text: 0;
    }
}


// Cursor.
:root {
    --cursor-button: default;

    @include from(large) {
        --cursor-button: pointer;
    }
}


// hover / focus
:root {
    --color-hover: #fff;
    --color-hover-second: #fff;
    --color-hover-third: #6a7477;

    @include from(large) {
        --color-hover: #646464;
        --color-focus: #3399ff;
        --color-hover-second: #333333;
        --color-hover-third: #333333;
        --color-focus-alt: #62e884;
    }
}


// border color
:root {
    --border-color-input: #00bfff;

    @include from(large) {
        --border-color-input: #80bdff;
    }
}


// border / border-radius
:root {
    --border-radius-link: .3125rem;

    @include from(large) {
        --border-link: 0.125rem solid transparent;
    }
}


// Colores para los elementos
:root {
    --background-color-nav: #2a3b47;

    @include from(large) {
        --background-color-nav: transparent;
    }
}