@use '../tools-sass/' as *;


// VARIABLES GLOBALES.

// Generales
:root {
    // Body font
    --font-size-body: 20px;
    // Body font-weight
    --font-weight-body: 400;
    // Logo Width
    --width-logo: 2.8rem;
    // Header height
    --height-header: 3.8rem;
}


// Cursor.
:root {
    --cursor-button: default;

    @include from(large) {
        --cursor-button: pointer;
    }
}


// hover / focus
:root {
    --color-hover: #fff;

    @include from(large) {
        --color-hover: #0098b8;
        --color-focus: #3399ff;
        --color-focus-alt: #62e884;
    }
}


// border color
:root {
    --border-color-input: #00bfff;

    @include from(large) {
        --border-color-input: #80bdff;
    }
}


// border / border-radius
:root {
    --border-radius-link: .3125rem;

    @include from(large) {
        --border-link: .125rem solid transparent;
    }
}


