// TODO: REVISAR Y OPTIMIZAR TODAS ESTAS VARIABLES.

// Z-INDEX
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
$z-modal-alt: 10000;



// WIDTH
$min-width: 320px;
$max-width: 1430px;
$max-width-content: 960px;
$max-width-content-alt: 1100px;



// FONT FAMILY
$ff-alt: 'Lato', sans-serif;
$ff-aux: 'Ubuntu', sans-serif;
$ff-main: 'Roboto', sans-serif;
$ff-titles: 'Poppins', sans-serif;
$ff-quotes: 'Noto Serif Toto', serif;



// COLORES.
$gray-dark: #444;
$gray-darker: #333;
$red-main: #cc0000;
$red-fire: #f80000;
$red-dark: #e00000;
$red-darker: #c72127;
$red-darkish: #b81206;
$orange-yellow: #ffa500;




$color-white: #fff;

$color-dark-gray: #6a7477;
$color-light-gray: #c2c2c2;
$color-darker-gray: #646464;

$color-light-gray-alt: #e7e7e7;
$color-darker-gray-alt: #333333;

$color-light-text: #fff;
$color-dark-text: #495057;
$color-darker-text: #444444;
$color-very-dark-text: #333333;



$color-pearl-light-gray: #9c9c9c;

$color-pale-grey: #f5f8ff;

$color-cobalt: #094293;
$color-orangey-red: #ff452b;

$color-sky-blue: #80bdff;
$color-dodger-blue: #1E90FF;
$color-bright-sky-blue: #00bfff;

$color-pass: #5aaa9a;
$color-error: #cc0000;

$color-body: rgb(30, 63, 63);
$background-color-body: #f5f8ff;


$color-menu: #fff;
$color-menu-alt: #aab0b5;
$color-menu-hover: #fff;
$color-menu-large: #6a7477;
$color-menu-alt-large:#6a7477;
$color-menu-hover-large: #0098b8;

$color-whatsapp: #1bd741;
$color-whatsapp-alt: #32cd32;


// button-color
$green-light: #00bb2d;
$green-dark: #009100;
$green-darker: #006d00;

$blue-light: #0080ff;
$blue-dark: #1f51ff;
$blue-darker: #002fd2;

$orange-red-light: #ff6227;
$orange-red-dark: #e63e00;
$orange-red-darker: #b33000;


