// TODO: REVISAR Y OPTIMIZAR TODAS ESTAS VARIABLES.

// Variables de apilamiento - "z-index"
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
$z-modal-alt: 10000;



// Variables ancho página "Width"
$min-width: 320px;
$max-width: 1430px;
$max-width-content: 960px;
$max-width-content-alt: 1100px;



// Variables para font-family
// $font-family-secondary: 'Poppins', sans-serif;
$font-family-alternative: 'Lato', sans-serif;
$font-family-auxiliary: 'Ubuntu', sans-serif;



$font-family-main: 'Roboto', sans-serif;
$font-family-titles: 'Poppins', sans-serif;
$font-family-alt: 'Lato', sans-serif;
$font-family-aux: 'Ubuntu', sans-serif;



// Paleta de Colores
$color-red: #cc0000;





$color-white: #fff;

$color-dark-gray: #6a7477;
$color-light-gray: #c2c2c2;
$color-darker-gray: #646464;

$color-light-gray-alt: #e7e7e7;
$color-darker-gray-alt: #333333;

$color-light-text: #fff;
$color-dark-text: #495057;
$color-darker-text: #444444;
$color-very-dark-text: #333333;

$color-red-canada: #ff0000;
$color-red-canada-line: #e00000;



$color-pearl-light-gray: #9c9c9c;

$color-pale-grey: #f5f8ff;

$color-cobalt: #094293;
$color-orangey-red: #ff452b;

$color-sky-blue: #80bdff;
$color-dodger-blue: #1E90FF;
$color-bright-sky-blue: #00bfff;

$color-pass: #5aaa9a;
$color-error: #cc0000;

$color-body: rgb(30, 63, 63);
$background-color-body: #f5f8ff;


$color-menu: #fff;
$color-menu-alt: #aab0b5;
$color-menu-hover: #fff;
$color-menu-large: #6a7477;
$color-menu-alt-large:#6a7477;
$color-menu-hover-large: #0098b8;

$color-whatsapp: #1bd741;
$color-whatsapp-alt: #32cd32;


// button-color
$green-light: #00bb2d;
$green-dark: #009100;
$green-darker: #006d00;

$blue-light: #0080ff;
$blue-dark: #1f51ff;
$blue-darker: #002fd2;

$orange-red-light: #ff6227;
$orange-red-dark: #e63e00;
$orange-red-darker: #b33000;


