@use '../tools-sass/' as *;

/* ------------------ _layout.scss ---------------------- */

.main-header-layout {
    height: 100%;
}

.main-header-layout,
.youtube-layout,
.cards-layout,
.schools-layout,
.social-bar-layout,
.main-footer-layout {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
}

// Todo: Revisar para: ".social-bar-layout" y para ".main-footer-layout"
// Todo: Deben tener también la misma declaración de estilos de estas llaves.
.youtube-layout,
.cards-layout,
.schools-layout {
    padding: calc(3rem + 2vw) 0;
}

// Todo: Revisar estas declaraciones para que se ajusten a:
// Todo:  "padding: calc(3rem + 2vw) 0"
.banner-layout {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    margin-top: var(--height-header);
}

.main-footer-layout {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include from(large) {
        padding-top: 0;
    }
}