@use '../tools-sass/' as *;

/* ------------------ _layout.scss ---------------------- */

.main-header-layout {
    height: 100%;
}

.main-header-layout,
.youtube-layout,
.cards-layout,
.social-bar-layout,
.main-footer-layout {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;

    @include from(large) {
        width: 90%;
    }
}


.banner-layout {
    padding-top: 10rem;
    padding-bottom: 3rem;
    margin-top: var(--height-header);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);

    // Wide 384px
    @include from(384px) {
        padding-top: 11rem;
    }

    // Wide 541px
    @include from(541px) {
        padding-top: 4rem;
    }

    // Wide 960px
    @include from(xxmedium) {
        padding-top: 7rem;
        padding-bottom: 4rem;
        // --polygon-banner: 0 0, 100% 0, 100% 100%, 0 94%;
        // clip-path: 0 0, 100% 0, 100% 100%, 0 94%;
    }

    // Wide 1024px
    @include from(large) {
        padding-top: 11rem;
    }

    // Wide 1900px
    @include from(zzlarge) {
        padding-top: 14rem;
    }

    // Wide 2100px
    @include from(ultrawide) {
        padding-top: 18rem;
        padding-bottom: 5rem;
    }
}

// Todo: Pendiente de optimizar.
.youtube-layout {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include from(360px) {
        padding-bottom: 1.2rem;
    }

    @include from(412px) {
        padding-bottom: 1.5rem;
    }

    @include from(medium) {
        padding-top: 1.5rem;
        padding-bottom: 1.8rem;
    }

    @include from(541px) {
        padding: 0;
    }
}


.main-footer-layout {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include from(large) {
        padding-top: 0;
    }
}