@use '../tools-sass/' as *;

/* ---------------- about-us.scss -------------------- */

.about-us {
    padding: var(--padding-layout);

    &__container {
        // display: grid;
        // place-items: center;
        text-align: center;
        border-radius: 10px;
        background-color: lightgray;
    }

    &__title {
        margin-bottom: 2em;
    }

    &__button {
        margin-bottom: 50px;
    }

    &__button:last-child {
        margin-bottom: 0;
    }
}


