@use '../tools-sass/' as *;

/* ---------------- about-us.scss -------------------- */

.about-us {
    padding: var(--padding-layout);

    &__container {
        display: grid;
        text-align: center;
        place-items: center;
        padding-bottom: 5em;
        background-color: lightgray;
    }

    &__title {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    &__button {
        margin-bottom: 50px;
    }

    &__button:last-child {
        margin-bottom: 0;
    }
}


