@use '../tools-sass/' as *;

/* ---------------- about-us.scss -------------------- */

.about-us {
    display: grid;
    place-items: center;
    padding-bottom: 5em;

    &__title {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    &__button {
        margin-bottom: 50px;
    }

    &__button:last-child {
        margin-bottom: 0;
    }
}


