@use '../tools-sass/' as *;

/* ------------------ banner.scss --------------------- */

.banner {
    // hero-image
    --objet-position-hero-image: 10% top;
    // flag
    --width-banner-flag: 2.8125rem;
    --height-banner-flag: 1.625rem;
    // phone
    --font-size-banner-phone: 1.75rem;

    @include from(360px) {
        // flag
        --width-banner-flag: 3rem;
        --height-banner-flag: 1.8125rem;
        // phone
        --font-size-banner-phone: 1.9375rem;
    }

    // Wide 412px
    @include from(412px) {
        // phone
        --font-size-banner-phone: 2.0625rem;
    }

    // Wide 540px
    @include from(medium) {
        // hero-image
        --objet-position-hero-image: center 12%;
    }

    // Wide 541px
    @include from(541px) {
        // hero-image
        --objet-position-hero-image: 70%;
    }

    // // Wide 840px
    // @include from(840px) {
    //     // hero-image
    //     --objet-position-hero-image: center bottom;
    // }

    // // Wide 960px
    // @include from(xxmedium) {
    //     // hero-image
    //     --objet-position-hero-image: center 90%;
    // }

    // Wide 1024px
    @include from(large) {
        // hero-image
        --objet-position-hero-image: 90%;
    }

    // // Wide 1280px
    // @include from(xlarge) {
    //     // hero-image
    //     --objet-position-hero-image: 100%;
    // }

    // Wide 1600px
    @include from(zlarge) {
        // flag
        --width-banner-flag: 3.25rem;
        --height-banner-flag: 2.0625rem;
        // phone
        --font-size-banner-phone: 2.375rem;
    }

    // // Wide 1920px
    // @include from(zzlarge) {
    //     // hero-image
    //     --objet-position-hero-image: center top;
    // }
}

.banner {
    position: relative;
    // font-family: $font-family-secondary; // Todo: Revisar!!!
    background-color: rgba($color: #000000, $alpha: .8);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 75vh;


    &__hero-image {
        top: 0;
        left: 0;
        opacity: .6;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: var(--objet-position-hero-image);
        // object-position:

        // @include from(medium) {
        //     // object-position: 
        // }
        // @include from(541px) {
        //     object-position: 70%;
        // }
        // @include from(large) {
        //     object-position: 90%;
        // }
    }

    &__content {
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        // color: $color-light-text; // Todo: Revisar!!

        // background-color: rgba($color: orange, $alpha: .3);

        // padding-bottom: 3em;

    }

    &__title {
        color: #fff; // Todo: Revisar!!
        max-width: 95%;
        text-align: center;
        // background-color: aquamarine;

        // font-weight: 400;
    }

    &__subtitle {

        color: #fff; // Todo: Revisar!!
        // background-color: pink;
    }

    &__title,
    &__subtitle {
        &::before {
            content: "¡";
        }
        &::after {
            content: "!";
        }
    }

    &__wrapper-address {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;

        // background-color: lightblue;
    }

    &__flag {
        margin-right: 5px;
        border-radius: 1px;
        width: var(--width-banner-flag);
        height: var(--height-banner-flag);

        border: 1px solid $color-light-gray; // Todo: Revisar!!
    }

    &__phone {
        font-style: normal;
        font-size: var(--font-size-banner-phone);  // Todo: Revisar!!
        font-family: $font-family-secondary; // Todo: Revisar!!
    }

    &__button {
        text-transform: none;
    }
}
