@use '../tools-sass/' as *;

/* ------------------ banner.scss --------------------- */

.banner {
    // hero-image
    --objet-position-hero-image: center;
    // title
    --margin-bottom-title: 2rem;
    --font-size-title: 2.5625rem;

    // Wide 412px
    @include from(412px) {
        // title
        --font-size-title: 3.125rem;
    }

    // Wide 420px
    @include from(420px) {
        // hero-image
        --objet-position-hero-image: center 10%;
    }

    // Wide 512px
    @include from(512px) {
        // title
        --font-size-title: 3.5rem;
    }

    // Wide 541px
    @include from(541px) {
        // hero-image
        --objet-position-hero-image: 70%;
    }

    // Wide 640px
    @include from(xmedium) {
        // title
        --font-size-title: 4.125rem;
        --margin-bottom-title: 2.5rem;
    }

    // Wide 840px
    @include from(840px) {
        // hero-image
        --objet-position-hero-image: center bottom;
        // title
        --font-size-title: 3.5rem;
    }

    // Wide 960px
    @include from(xxmedium) {
        // hero-image
        --objet-position-hero-image: center 90%;
        // title
        --font-size-title: 3.8rem;
    }

    // Wide 1024px
    @include from(large) {
        // hero-image
        --objet-position-hero-image: 90%;
    }

    // Wide 1280px
    @include from(xlarge) {
        // hero-image
        --objet-position-hero-image: 100%;
    }

    // Wide 1920px
    @include from(zzlarge) {
        // hero-image
        --objet-position-hero-image: center top;
    }

    // Wide 2100px
    @include from(maximum) {
        // title
        --font-size-title: 4.5rem;
    }
}

.banner {
    position: relative;
    font-family: $font-family-secondary;
    background-color: rgba($color: #000000, $alpha: .8);

    &__hero-image {
        top: 0;
        left: 0;
        opacity: .4;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: var(--objet-position-hero-image);
    }

    &__content {
        color: #fff;
        display: flex;
        font-size: 1rem;
        position: relative;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        color: #fff;
        font-size: 45px;
        text-align: center;

        margin-bottom: 1rem;

        @include from(360px) {
            font-size: 49px;
        }

        @include from(412px) {
            font-size: 55px;
        }

        // Wide 640px
        @include from(xmedium) {
            font-size: 57px;
        }

        // @include from(840px) {
        //     font-size: 66px;
        // }

        @include from(960px) {
            font-size: 48px;
        }

        @include from(large) {
            font-size: 52px;
        }

        @include from(zlarge) {
            font-size: 56px;
        }

        @include from(zzlarge) {
            font-size: 62px;
        }

        @include from(ultrawide) {
            font-size: 72px;
        }
    }

    &__call-us-now {
        font-size: 32px;
        margin-bottom: 1rem;

        @include from(360px) {
            font-size: 36px;
        }

        @include from(412px) {
            font-size: 38px;
        }

        @include from(zlarge) {
            font-size: 48px;
        }

        @include from(zzlarge) {
            font-size: 50px;
            margin-bottom: 1.5rem;
        }
    }

    &__title,
    &__call-us-now {
        &::before {
            content: "¡";
        }

        &::after {
            content: "!";
        }
    }

    &__wrapper-address {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
    }

    &__flag {
        width: 45px;
        height: 26px;
        margin-right: 5px;
        border-radius: 1px;

        @include from(360px) {
            width: 48px;
            height: 29px;
        }

        @include from(zlarge) {
            width: 52px;
            height: 33px;
        }

    }

    &__phone {
        font-size: 28px;
        font-style: normal;

        @include from(360px) {
            font-size: 31px;
        }

        @include from(412px) {
            font-size: 33px;
        }

        @include from(zlarge) {
            font-size: 38px;
        }
    }

    &__button {
        text-transform: none;
    }
}
