@use '../tools-sass/' as *;

/* ------------------ banner.scss --------------------- */

.banner {
    // hero-image
    --objet-position-hero-image: center;
    // title.
    --font-size-banner-title: 45px;
    // call-us-now
    --font-size-calle-us-now: 32px;
    --margin-bottom-call-us-now: 1rem;
    // flag
    --width-banner-flag: 45px;
    --height-banner-flag: 26px;
    // phone
    --font-size-banner-phone: 28px;

    @include from(360px) {
        // title
        --font-size-banner-title: 49px;
         // call-us-now
        --font-size-calle-us-now: 36px;
        // flag
        --width-banner-flag: 48px;
        --height-banner-flag: 29px;
        // phone
        --font-size-banner-phone: 31px;
    }

    // Wide 412px
    @include from(412px) {
        // title
        --font-size-banner-title: 55px;
        // call-us-now
        --font-size-calle-us-now: 38px;
        // phone
        --font-size-banner-phone: 33px;
    }

    // Wide 420px
    @include from(420px) {
        // hero-image
        --objet-position-hero-image: center 10%;
    }

    // Wide 541px
    @include from(541px) {
        // hero-image
        --objet-position-hero-image: 70%;
    }

    // Wide 640px
    @include from(xmedium) {
        // title
        --font-size-banner-title: 57px;
    }

    // Wide 840px
    @include from(840px) {
        // hero-image
        --objet-position-hero-image: center bottom;
    }

    // Wide 960px
    @include from(xxmedium) {
        // hero-image
        --objet-position-hero-image: center 90%;
        // title
        --font-size-banner-title: 48px;
    }

    // Wide 1024px
    @include from(large) {
        // hero-image
        --objet-position-hero-image: 90%;
        // title
        --font-size-banner-title: 52px;
    }

    // Wide 1280px
    @include from(xlarge) {
        // hero-image
        --objet-position-hero-image: 100%;
    }

    // Wide 1600px
    @include from(zlarge) {
        // title
        --font-size-banner-title: 56px;
        // call-us-now
        --font-size-calle-us-now: 48px;
        // flag
        --width-banner-flag: 52px;
        --height-banner-flag: 33px;
        // phone
        --font-size-banner-phone: 38px;
    }

    // Wide 1920px
    @include from(zzlarge) {
        // hero-image
        --objet-position-hero-image: center top;
        // title
        --font-size-banner-title: 62px;
        // call-us-now
        --font-size-calle-us-now: 50px;
        --margin-bottom-call-us-now: 1.5rem;
    }

    // Wide 2100px
    @include from(maximum) {
        // title
        --font-size-banner-title: 72px;
    }
}

.banner {
    position: relative;
    font-family: $font-family-secondary;
    background-color: rgba($color: #000000, $alpha: .8);

    &__hero-image {
        top: 0;
        left: 0;
        opacity: .4;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: var(--objet-position-hero-image);
    }

    &__content {
        color: #fff;
        display: flex;
        font-size: 1rem;
        position: relative;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        color: #fff;
        text-align: center;
        margin-bottom: 1rem;
        font-size: var(--font-size-banner-title);
    }

    &__call-us-now {
        font-size: var(--font-size-calle-us-now);
        margin-bottom: var(--margin-bottom-call-us-now);
    }

    &__title,
    &__call-us-now {
        &::before {
            content: "¡";
        }
        &::after {
            content: "!";
        }
    }

    &__wrapper-address {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
    }

    &__flag {
        margin-right: 5px;
        border-radius: 1px;
        width: var(--width-banner-flag);
        height: var(--height-banner-flag);
    }

    &__phone {
        font-style: normal;
        font-size: var(--font-size-banner-phone);
    }

    &__button {
        text-transform: none;
    }
}
