@use '../tools-sass/' as *;

/* ----------------- button-whatsapp.scss ---------------- */

.btn-whatsapp {
    display: flex;
    right: .625rem;
    width: 3.75rem;
    height: 3.75rem;
    position: fixed;
    bottom: 4.375rem;
    z-index: $z-fixed;
    font-size: 3.75rem;
    align-items: center;
    color: $color-whatsapp;
    justify-content: center;
    background-color: transparent;
    border-radius: var(--border-radius-link);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);

    &:hover {
        color: $color-whatsapp-alt;
        background-color: $color-pale-grey;
    }
}
