@use '../tools-sass/' as *;

$link: true;
$buttonSolid: true;

/* -------------------- button.scss ---------------------- */

@if $buttonSolid {

	.button {
		color: #fff;
		padding: .3em 0;
		font-weight: 500;
		position: relative;
		border: .125em solid;
		text-transform: uppercase;
		font-family: $font-family-temporal;
		text-shadow: 0.0625rem 0.0625rem rgba(0,0,0,.3);

		&-short {
			min-width: 12em;
			font-size: 1.1em;
		}

		&-long {
			min-width: 14em;
			font-size: 1.25em;

			@include from(412px) {
				padding: .15em 0;
				font-size: 1.5em;
			}

			@include from(xlarge) {
				padding: .2em 0;
				font-size: 1.4em;
			}
		}

		&-round {
			border-radius: 2em;
		}

		&-green {
			border-color: $green-light;
			background-color: $green-light;
		}

		&-blue {
			border-color: $blue-light;
			background-color: $blue-light;
		}

		&-orange-red {
			border-color: $orange-red-light;
			background-color: $orange-red-light;
		}

		// Todo: Incluir con variables de colores.
		&-neon-pink {
			border-color: #ff33b0;
			background-color: #ff33b0;
		}

		@include from(large) {

			&-green:hover {
				border-color: $green-dark;
				background-color: $green-dark;
			}

			&-blue:hover {
				border-color: $blue-dark;
				background-color: $blue-dark;
			}

			&-orange-red:hover {
				border-color: $orange-red-dark;
				background-color: $orange-red-dark;
			}

			// Todo: Incluir con variables de colores.
			&-neon-pink:hover {
				border-color: #e6008c;
				background-color:#e6008c;
			}
		}

		&:active {
			top: 0.125rem;
		}

		&-green:active {
			border-color: $green-darker;
			background-color: $green-darker;
		}

		&-blue:active {
			border-color: $blue-darker;
			background-color: $blue-darker;
		}

		&-orange-red:active {
			border-color: $orange-red-darker;
			background-color: $orange-red-darker;
		}

		// Todo: Incluir con variables de colores.
		&-neon-pink:active {
			border-color: #cc007d;
			background-color: #cc007d;
		}
	}
}


// Estilos de botón para los enlaces.

@if $link {

	.link {
		font-size: 1.4em;
        color: #fff;
        padding: .4em 0;
        min-width: 13em;
        // border-radius: 2em;

        text-transform: uppercase;
        // font-weight: bold;
        // font-family: $font-family-two;

        text-shadow: 0.0625rem 0.0625rem rgba(0,0,0,.3);




	}





}