@use '../tools-sass/' as *;

$buttonSolid: true;
$buttonGhost: false;

/* -------------------- button.scss ---------------------- */

@if $buttonSolid {

	.button {
		color: #fff;
		padding: .3em 0;
		font-weight: 500;
		position: relative;
		border: .125em solid;
		text-transform: uppercase;
		font-family: $font-family-primary;
		text-shadow: 0.0625rem 0.0625rem rgba(0,0,0,.3);

		&-short {
			min-width: 12em;
			font-size: 1.1em;
		}

		&-long {
			min-width: 14em;
			font-size: 1.25em;

			@include from(412px) {
				padding: .15em 0;
				font-size: 1.5em;
			}

			@include from(xlarge) {
				padding: .2em 0;
				font-size: 1.4em;
			}
		}

		&-round {
			border-radius: 2em;
		}

		&-green {
			border-color: $green-light;
			background-color: $green-light;
		}

		&-blue {
			border-color: $blue-light;
			background-color: $blue-light;
		}

		&-orange-red {
			border-color: $orange-red-light;
			background-color: $orange-red-light;
		}

		@include from(large) {

			&-green:hover {
				border-color: $green-dark;
				background-color: $green-dark;
			}

			&-blue:hover {
				border-color: $blue-dark;
				background-color: $blue-dark;
			}

			&-orange-red:hover {
				border-color: $orange-red-dark;
				background-color: $orange-red-dark;
			}
		}

		&:active {
			top: 0.125rem;
		}

		&-green:active {
			border-color: $green-darker;
			background-color: $green-darker;
		}

		&-blue:active {
			border-color: $blue-darker;
			background-color: $blue-darker;
		}

		&-orange-red:active {
			border-color: $orange-red-darker;
			background-color: $orange-red-darker;
		}
	}
}



// TODO: La variable $buttonGhost is disabled

@if $buttonGhost {
	// Variables.
	.button {
		--font-size-button: 1.4em;
		--min-width-button: 15.625rem;

		@include from(360px) {
			--min-width-button: 17rem;
		}

		@include from(412px) {
			--font-size-button: 1.45em;
			--min-width-button: 18.75rem;
		}

		@include from(ultrawide) {
			--font-size-button: 1.6em;
			--min-width-button: 20rem;
		}
	}


	.button {
		color: #fff;
		padding: .15em 0;
		font-weight: 500;
		border-radius: 2em;
		border: .125em solid;
		text-transform: uppercase;
		font-family: $font-family-primary;
		min-width: var(--min-width-button);
		font-size: var(--font-size-button);

		&-blue,
		&-green,
		&-orange-red {
			&:hover {
				border-color: unset;
				background-color: unset;
			}
		}

		&-green {
			border-color: $green-dark;
			background-color: $green-dark;

			&:hover {
				color: $green-light;
			}

			&:active {
				border-color: $green-darker;
				background-color: $green-darker;
			}
		}

		&-blue {
			border-color: $blue-light;
			background-color:$blue-light;

			&:hover {
				color: $blue-dark;
			}

			&:active {
				border-color: $blue-darker;
				background-color: $blue-darker;
			}
		}

		&-orange-red {
			border-color: $orange-red-light;
			background-color: $orange-red-light;

			&:hover {
				color: $orange-red-dark;
			}

			&:active {
				border-color: $orange-red-darker;
				background-color: $orange-red-darker;
			}
		}

		&:active {
			color: #fff;
			transform: scale(.98);
		}
	}
}
