@use '../tools-sass/' as *;

/* ---------------- cards.scss -------------------- */

.cards {
    --ar-image: 1 / .7;
    --mb-articles: 3rem;
    --bg-cards: #fafbfa;
    --fw-footer-text: 400;
    --mw-footer-text: none;
    --fw-footer-title: 700;
    --c-footer-text: #444;
    --c-footer-title: #444;
    --fw-footer-text-span: 700;
    --p-template-content: 1.25rem;
    --p-template-list: 0 0 0 0.3125rem;

    // Wide 540px
    @include from(medium) {
        --p-template-list: 0.625rem 1.25rem 0.625rem;
    }

    // Wide 676px
    @include from(676px) {
        --ar-image: 1 / .5;
    }

    // Wide 960px
    @include from(xxmedium) {
        --p-template-content: 2.5rem 2.5rem 1.875rem;
    }

    // Wide 1040px
    @include from(1040px) {
        --mb-articles: 4rem;
        --mw-footer-text: 70%;
        --fw-footer-text: 300;
        --fw-footer-title: 500;
        --c-footer-text: #fff;
        --c-footer-title: #fff;
        --fw-footer-text-span: 400;
        --bg-cards: linear-gradient(180deg, #fafbfa 47%, #1a2040 47%);
    }

    // Wide 1920px
    @include from(zzlarge) {
        --mb-articles: 5rem;
    }
}

.cards {
    background: var(--bg-cards);

    &__title,
    &__subtitle,
    &__footer {
        text-align: center;
    }

    &__title,
    &__footer-title,
    &__template-button,
    &__template-button {
        &::before {
            content: "¡";
        }
        &::after {
            content: "!";
        }
    }

    &__title span,
    &__title::after {
        color: $color-red-canada-alt;
    }

    &__subtitle span,
    &__article-title,
    &__footer-title {
        text-transform: uppercase;
    }

    &__articles {
        gap: 3rem;
        flex-wrap: wrap;
        padding-top: 1rem;
        margin-bottom: var(--mb-articles);
    }

    &__articles,
    &__article,
    &__modal,
    &__template-content {
        display: flex;
    }

    &__articles,
    &__modal {
        justify-content: center;
    }

    &__article {
        flex-basis: 17.5rem;
        max-width: 28.125rem;
        box-shadow: 0 0 0.375rem rgba(0, 0, 0, .5);
        font-size: 1rem; // Todo: Referencia para medidas "em"
    }

    &__article,
    &__template-content {
        flex-direction: column;
        background-color: #fff;
    }

    &__article,
    &__article-header {
        flex-grow: 1;
    }

    &__article-header,
    &__article-footer,
    &__template-content {
        width: 90%;
    }

    &__article-header,
    &__article-footer {
        margin-left: auto;
        margin-right: auto;
    }

    &__figure {
        bottom: 1rem;
    }

    &__figure,
    &__template-content {
        position: relative;
    }

    &__image {
        object-fit: cover;
        object-position: left 40%;
        aspect-ratio: var(--ar-image);
    }

    &__logo {
        position: absolute;
    }

    &__logo--bcs {
        width: 65%;
        left: 0.625rem;
        top: 0.0625rem;
    }

    &__logo--cibc {
        width: 35%;
        left: 0.5rem;
        top: 0.1875rem;
    }

    &__article-title {
        font-size: 1.375rem;
        margin-bottom: .5rem;
        color: $color-red-canada-alt;
    }

    &__article-footer {
        padding: 1.5rem 0;
    }

    &__footer-title {
        color: var(--c-footer-title);
        font-weight: var(--fw-footer-title);
    }

    &__footer-text {
        margin: 0 auto 3rem;
        color: var(--c-footer-text);
        max-width: var(--mw-footer-text);
        font-weight: var(--fw-footer-text);
    }

    &__footer-text span:first-child,
    &__footer-text span:nth-child(2),
    &__footer-text span:nth-child(3) {
        font-weight: var(--fw-footer-text-span);
    }

    &__footer-button {
        margin-bottom: calc(1.5em + 1.5vw);
    }

    // Cards Modal
    &__modal {
        align-items: center;
    }

    &__template-content {
        max-width: 60rem;
        transform: scale(0);
        border-radius: 0.625rem;
        padding: var(--p-template-content);
    }

    &__template-close {
        right: 0;
        top: -3.75rem;
        color: #fff;
        font-size: 3rem;
        position: absolute;
    }

    &__template-info,
    &__template-list {
        margin-bottom: 2rem;
    }

    &__template-info span {
        font-weight: 700;
    }

    &__template-button {
        align-self: center;
        margin-bottom: 1rem;
        text-transform: none;
    }

    &__template-list {
        list-style: disc;
        line-height: 1.25rem;
        padding: var(--p-template-list);
    }

    &__template-list li {
        margin-bottom: .5rem;
    }

    &__template-list li:last-child {
        margin-bottom: 0;
    }
}
