@use '../tools-sass/' as *;

/* ---------------- cards.scss -------------------- */

.cards {

    background-color: #fafbfa;

    @include from(1040px) {
        background: linear-gradient(180deg, #fafbfa 50%, #000 50%);
    }

    &__container {
        font-family: $font-family-tempo;
    }

    &__title {
        text-align: center;
        margin-bottom: .1em;
    }

    &__title span {
        color: $color-red-canada-alt;
    }

    &__subtitle {
        font-weight: 500;
        text-align: center;
        margin-bottom: .6em;
        font-size: calc(1.2em + 1vw);
        color: $color-very-dark-text;
    }

    &__subtitle span {
        text-transform: uppercase;
    }


    &__articles {
        gap: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding-top: 1rem;

        margin-bottom: 1rem;
    }

    &__article {
        flex-grow: 1;
        max-width: 450px;
        flex-basis: 280px;
        background-color: #fff;
        font-size: 1rem; // Todo: Referencia para medidas "em"



        box-shadow: 0 0 6px rgba(0, 0, 0, .5);

        display: flex;
        flex-direction: column;
    }

    &__article-header {
        width: 90%;
        flex-grow: 1;
        margin-left: auto;
        margin-right: auto;
    }

    &__figure {
        bottom: 1rem;
        position: relative;
    }

    &__image {
        object-fit: cover;
        aspect-ratio: 1 / .7;
        object-position: left 40%;

        @include from(676px) {
            aspect-ratio: 1 / .5;
        }
    }

    &__logo {
        position: absolute;
    }

    &__logo--bcs {
        top: 1px;
        left: 10px;
        width: 65%;
    }

    &__logo--cibc {
        top: 3px;
        left: 8px;
        width: 35%;
    }

    // &__content {
    //     font-family: $font-family-menu;
    // }

    &__article-title {
        font-size: 22px;
        margin-bottom: .5rem;
        // font-family: $font-family-menu;
        font-weight: 500;

        text-transform: uppercase;
        color: $color-red-canada-alt;
        // text-align: center;
    }

    &__article-text {
        color: $color-very-dark-text;

        // font-family: $font-family-menu;

        font-size: 18px;

        font-weight: 400;
    }

    &__article-footer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem 0;
    }

    &__link {
        display: inline-block;

        padding: .4em 1.5em;
        color: #fff;
        // background-color: $blue-dark;
        background-color: #0279d3;
        // text-transform: uppercase;
        // font-family: $font-family-primary;
        // font-family: $font-family-menu;
        font-weight: 500;
        font-size: 1.125em;
    }

    &__footer {
        text-align: center;

        @include from(1040px) {
            color: #fff;
            background-color: #000;
        }
    }

    &__footer-title {
        text-transform: uppercase;
        // font-family: $font-family-body-alt;
        font-size: calc(1.2em + 1vw);
        font-weight: 500;
    }

}

