@use '../tools-sass/' as *;

/* ---------------- cards.scss -------------------- */

.cards {

    background-color: #fafbfa;
    // background-color: $color-red-canada-alt;

    @include from(1040px) {
        background: linear-gradient(180deg, #fafbfa 50%, #000 50%);
    }

    &__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__wrapper {
        gap: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding-top: 1rem;

        // @include from(1040px) {
        //     padding-top: 2rem;
        // }

        // min-height: 100vh;
    }
}

.card {
    flex-grow: 1;
    max-width: 450px;
    flex-basis: 280px;
    background-color: #fff;

    // position: relative;
    // bottom: 1rem;

    font-size: 1rem;



    box-shadow: 0 0 6px rgba(0, 0, 0, .5);

    display: flex;
    flex-direction: column;

    &__header {
        flex-grow: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    &__image {
        bottom: 1rem;
        position: relative;

        // aspect-ratio: 1 / .7;
        // object-fit: cover;
        // width: 85%;

        // @include from(1040px) {
        //     bottom: 2rem;
        // }
    }

    &__title {
        font-size: 22px;
        margin-bottom: .5rem;
        font-family: $font-family-menu;
        font-weight: 500;

        text-transform: uppercase;
        color: $color-red-canada-alt;
        // text-align: center;
    }

    &__description {
        color: $color-very-dark-text;

        font-family: $font-family-menu;

        font-size: 18px;

        font-weight: 400;

    }

    &__footer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem 0;
    }

    &__link {
        display: inline-block;

        padding: .4em 1.5em;
        color: #fff;
        // background-color: $blue-dark;
        background-color: #0279d3;
        // text-transform: uppercase;
        // font-family: $font-family-primary;
        font-family: $font-family-menu;
        font-weight: 500;
        font-size: 1.125em;
    }
}


