@use '../tools-sass/' as *;

/* ------------------ footer.scss ---------------------- */

.main-footer {
    // main-footer__separator
    --h-mfooter-separator: unset;
    --mb-mfooter-separator: unset;

    @include from(large) {
        // main-footer__separator
        --h-mfooter-separator: 0.0625rem;
        --mb-mfooter-separator: 2rem;
    }
}


.main-footer {
    text-align: center;
    background-color: $color-red-canada-alt;

    &__separator {
        border: 0;
        height: var(--h-mfooter-separator);
        background-color: $color-red-canada-line;
        margin-bottom: var(--mb-mfooter-separator);
    }

    &__copyright {
        margin-bottom: .5em;
        display: inline-block;
    }

    &__copyright span,
    &__info p:first-child span {
        display: block;

        @include from(medium) {
            display: inline;
        }
    }

    &__info {
        font-style: normal;
    }

    &__info p:first-child {
        margin-bottom: .5em;
    }

    &__copyright,
    &__info p {
        color: #fff;
        font-size: calc(1em + .2vw);
    }
}


