@use '../tools-sass/' as *;

/* ------------------ footer.scss ---------------------- */

.main-footer {
    // separator
    --height-main-footer-separator: unset;
    --margin-bottom-main-footer-separator: unset;


    @include from(large) {
        // separator
        --height-main-footer-separator: 0.0625rem;
        --margin-bottom-main-footer-separator: 2rem;
    }
}


.main-footer {
    text-align: center;
    background-color: $color-red-canada-alt;

    &__separator {
        border: 0;
        background-color: $color-red-canada-line;
        height: var(--height-main-footer-separator);
        margin-bottom: var(--margin-bottom-main-footer-separator);
    }
}
