@use '../tools-sass/' as *;

/* ------------------ form.scss ---------------------- */

.form {
    line-height: normal; // Todo: Revisar esta declaración.
    font-size: 1rem; // Referencia

    &__container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: #fff;
        transition: transform 1s;
        transform: translateY(-200%); //Todo: Pendiente de optimizar.
    }

    &__container-height {
        display: flex;
        margin: 0 auto;
        max-width: 465px;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 0;
        font-size: calc(2.5em + .8vw);
    }

    &__subtitle {
        margin-bottom: 1.5rem;
        font-size: calc(1.25em + .2vw);
    }

    &__fieldset {
        width: 90%;
        border: none;
        position: relative;
        padding-bottom: calc(1em + 1.5vw);
    }

    &__icon-close {
        right: 0;
        top: -1.75rem;
        color: #444;
        position: absolute;
        font-size: calc(2.5em + .2vw);
    }

    &__box {
        margin-bottom: 1.25rem;
    }

    &__box:last-child {
        display: flex;
        margin-bottom: 0;
        align-items: center;
    }

    &__label {
        position: relative;
        margin-bottom: .5rem;
        display: inline-block;

        &::before {
            content: "*";
            right: -.625rem;
            font-size: 1.25rem;
            position: absolute;
            color: $color-error;
        }
    }

    &__error-message {
        font-size: 1.0625rem;
        line-height: 1.125rem;
        color: $color-error;
        font-family: $font-family-auxiliary;
    }

    &__wrapper-input {
        position: relative;
    }

    &__wrapper-input i {
        top: .625rem;
        left: .4375rem;
        font-size: 1.25rem;
        position: absolute;
        color: $color-dark-gray;
    }

    &__wrapper-input-email i,
    &__wrapper-input-emailconfirm i {
        top: .75rem;
    }

    &__input {
        height: 2.5rem;
        padding: .625rem .375rem .625rem 2.125rem;
    }

    &__textarea {
        resize: none;
        min-height: 5.625rem;
        padding: .5625rem .375rem .625rem 1.875rem;
    }

    &__input,
    &__textarea {
        width: 100%;
        border-style: solid;
        border-width: .0625rem;
        border-radius: .1875rem;
        border-color: #cbd6e2;
        transition: .2s ease all;
        background-color: #f5f8fa;

        &:focus {
            border-color: var(--border-color-input);
            box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
        }
    }

    &__input-emailconfirm {
        padding-left: 2.375rem;
    }

    &__input-terms {
        width: 1.125rem;
        height: 1.125rem;
        margin-left: 0.5rem;
        margin-right: 0.625rem;
    }


    &__button {
        margin-bottom: 1.875rem;

        &:disabled {
            color: lightgrey;
            border-color: transparent;
            background-color: #eeeeee;
        }
    }

    &__copyright {
        font-style: normal;
        font-size: calc(.9em + .15vw);
        font-family: $font-family-main;
    }


    // Ventana Modal para confirmación
    // ... de envío de email de contacto.

    &__modal {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__modal-content {
        position: relative;
        transition: transform 1s;
        transform: translateY(-100vh);

        // Centrando el contenido.
        width: 90%;
        margin: 0 auto;
        max-width: 60rem;
        border-radius: 0.625rem;
        background-color: #fff;
        padding: calc(1.25em + 2vw);
    }

    &__modal-content i {
        right: 0;
        top: -3.75rem;
        color: #fff;
        font-size: 3rem;
        position: absolute;
    }

    &__modal-content p:first-of-type {
        font-weight: 700;
        text-align: center;
        margin-bottom: .5em;
        font-size: calc(1.8em + .5vw);
    }

    &__modal-content p:first-of-type ~ p {
        margin-bottom: 0.75rem;
    }

    &__modal-content p:last-of-type span {
        font-weight: 700;
    }


    // Clase "form-show" y "form--modal-open" para JS.

    &--show {
        transform: translateY(0);
    }

    &--modal-open {
        transform: translateY(0);
    }
}


