@use '../tools-sass/' as *;

/* ------------------ _main.scss ---------------------- */

.main {
    font-size: 1rem; // TODO: Referencia para --font-size-button en _button.scss

    display: grid;
    gap: 15px;
    padding-bottom: 1.2rem;

    background-color: #e7e7e7;
}
