@use '../tools-sass/' as *;

/* ---------------- schools.scss -------------------- */

.schools {
    --flg-schools-d: 0;
    --mxw-schools-d: none;
    --flb-schools-d: auto;
    --wdh-schools-iw: 80%;
    --gap-schools-dw: unset;
    --dpl-schools-dw: block;
    --jfc-schools-dw: unset;
    --bgc-schools: #ececec;

    // Wide 1024px
    @include from(large) {
        --flg-schools-d: 1;
        --wdh-schools-iw: 60%;
        --mxw-schools-d: 25rem;
        --dpl-schools-dw: flex;
        --jfc-schools-dw: center;
        --gap-schools-dw: 1.5rem;
        --flb-schools-d: 17.5rem;
    }

    // Wide 1040px
    @include from(1040px) {
        --bgc-schools: #fafbfa;
    }
}


.schools {
    background-color: var(--bgc-schools);

    &__header {
        text-align: center;
    }

    &__articles {
        gap: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: calc(3rem + 1vw);
    }

    &__article {
        flex-grow: 1;
        max-width: 28rem;
        overflow: hidden;
        flex-basis: 18rem;
        border-radius: 1.25rem;
        padding-bottom: 1.25rem;
        background-color: #fff;
        box-shadow: 0 0.5rem 0.625rem -0.25rem rgba(0,0,0,.8);
    }

    &__background-wrapper {
        padding-bottom: 1.5rem;
    }

    &__background-wrapper--ilac {
        background-color:#c72127; // Todo: Variables de colores.
    }

    &__background-wrapper--ilsc {
        background-color:#f98012; // Todo: Variables de colores.
    }

    &__image-wrapper {
        margin: 0 auto;
        width: var(--wdh-schools-iw);
    }

    &__image {
        object-fit: fill;
        aspect-ratio: 1 / .6;
    }

    &__content {
        width: 90%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }

    &__link {
        translate: 0 -50%;
        align-self: center;
        display: inline-block;
        box-shadow: 0 0 0.375rem rgba(0, 0, 0, .7);
    }

    &__link--ilac {
        border-color: $color-red-canada-line; // Todo: Corregir!!!
        background-color: $color-red-canada-line; // Todo: Corregir!!!
    }

    &__link--ilsc {
        border-color: orange; // Todo: Optimizar!!!
        background-color: orange; // Todo: Optimizar!!!
    }

    &__title-article {
        color: #444; // Todo: Variables de colores.
        text-align: center;
        font-size: 1.625rem;
        margin-bottom: 1rem;
    }

    &__description-wrapper {
        gap: var(--gap-schools-dw);
        display: var(--dpl-schools-dw);
        justify-content: var(--jfc-schools-dw);
    }

    &__description {
        flex-grow: var(--flg-schools-d);
        max-width: var(--mxw-schools-d);
        flex-basis: var(--flb-schools-d);
    }

    &__description p:first-child {
        font-weight: 600;
        font-size: calc(1.625rem + .4vw);
        margin-bottom: calc(.5rem + .6vw);
    }

    &__description p:first-child::before {
        content: '';
        padding: 0.25rem;
        margin-right: 0.8125rem;
        background-color: $color-whatsapp; // Todo: Nombre variable!!!
        border: 0.0625rem solid $color-whatsapp; // Todo: Nombre variable!!!
    }
}
