@use '../tools-sass/' as *;

/* ------------------ youtube.scss --------------------- */


.youtube {
  background-color: #ececec; // Todo: Variables de colores.

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    max-width: 64rem;
    text-align: center;
  }

  &__subtitle {
    &::before {
        content: "¡";
    }
    &::after {
        content: "!";
    }
  }

  &__video-wrapper {
    width: 100%;
    max-width: 640px;
    margin-bottom: calc(1rem + 2vw);

  }

  &__video {
    @include ratio(16,9);
    border: 0.0625rem solid $color-light-gray-alt; // Todo: Corregir nombre variable.

    > iframe,
    > video {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  // &__description-wrapper {
  //   display: block;

  //   @include from(large) {
  //     gap: 1.5rem;
  //     display: flex;
  //     justify-content: center;

  //   }
  // }

  // &__description {

  //   @include from(large) {
  //     flex-grow: 1;
  //     max-width: 350px;
  //     flex-basis: 280px;
  //   }
  // }
}