@use '../tools-sass/' as *;

/* ------------------ youtube.scss --------------------- */

.youtube {
  padding: var(--padding-layout);

  &__content {
    border-radius: 10px;
    background-color: #fff;

    display: grid;
    place-items: center;

    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }

  &__header {
    padding-left: 7px;
    padding-right: 7px;
  }

  &__title {
    font-size: 28px;
    margin-bottom: .3rem;
  }

  &__subtitle {
    font-size: 22px;
    margin-bottom: 1rem;
  }

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__subtitle {
    &::before {
        content: "¡";
    }
    &::after {
        content: "!";
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 960px;
    // margin-left: auto;
    // margin-right: auto;
    margin-bottom: 1rem;
  }

  &__video {
    @include ratio(16,9);
    // background-color: red;

    > iframe,
    > video {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &__description {
    padding-left: 7px;
    padding-right: 7px;
    max-width: 960px;
    // margin-left: auto;
    // margin-right: auto;

  }

  &__description p:first-child {
    line-height: 120%;
    font-size: 16px;
    line-height: 130%;

    // @include from(412px) {
    //   font-size: 18px;
    // }
  }



}