@use '../tools-sass/' as *;

/* ------------------ youtube.scss --------------------- */

.youtube {
  padding: var(--padding-layout);

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fafbfa;

    max-width: 720px;

    @include from(1921px) {
      max-width: 840px;
    }

    border-radius: 10px;

    @include from(541px) {
      border-radius: 0;
    }

  }

  &__header {
    width: 100%;
    padding: var(--padding-text);
  }

  &__title,
  &__subtitle {

    @include from(720px) {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: .5rem;
  }

  &__subtitle {
    &::before {
        content: "¡";
    }
    &::after {
        content: "!";
    }
  }

  &__wrapper {
    width: 100%;
    // max-width: 640px;
    // max-width: $max-width-text;
    margin-bottom: 1.2rem;

        // background-color: lightblue;

    // Wide 960px
    @include from(xxmedium) {
      margin-bottom: 1.5rem;
    }

    @include from(llarge) {
      margin-bottom: 2rem;
    }
  }

  &__video {
    @include ratio(16,9);
    border-top: 1px solid #fafbfa;
    border-bottom: 1px solid #fafbfa;

    @include from(645px) {
      border-left: 1px solid #fafbfa;
      border-right: 1px solid #fafbfa;
    }

    > iframe,
    > video {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &__description {
    width: 100%;
    // max-width: $max-width-text;
    padding: var(--padding-text);

                    font-family: $font-family-primary-alt;
  }
}