@use '../tools-sass/' as *;

/* ----------------- button-whatsapp.scss ---------------- */

.btn-whatsapp {
    display: flex;
    right: .625rem;
    width: 3.75rem;
    bottom: 3.5rem;
    height: 3.75rem;
    position: fixed;
    font-size: 3.75rem;
    align-items: center;
    z-index: $z-modal-alt;
    color: $color-whatsapp; // Todo: Actualizar
    justify-content: center;
    background-color: transparent;
    border-radius: var(--border-radius-link); // Todo: Actualizar
    box-shadow: 0 0.0625rem 0.625rem rgba(0,0,0,0.3);

    &:hover {
        color: $color-whatsapp-alt; // Todo: Actualizar
        background-color: $color-pale-grey; // Todo: Actualizar
    }
}
